<form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" ng-submit="signIn()" method="post">
  <div class="form-group">
    <label for="user_email">Email</label><br />
    <input class="form-control" autofocus="autofocus" id="user_email" name="user[email]" type="email" value="" />
  </div>

  <div class="form-group">
    <label for="user_password">Password</label><br />
    <input class="form-control" autocomplete="off" id="user_password" name="user[password]" type="password" />
  </div>

  <div>
    <input name="commit" type="submit" value="Login" class="btn btn-primary" />
    <a href="/#/users/sign_up" class="btn btn-success">Registration</a><br />
  </div>
</form>
