<form accept-charset="UTF-8" ng-submit="signIn()">
  <div class="alert alert-danger" ng-if="error">{{error}}</div>

  <div class="form-group">
    <label for="user_email">Email</label><br />
    <input class="form-control" autofocus="autofocus" ng-model="email" id="user_email" name="user[email]" type="email" value="" />
  </div>

  <div class="form-group">
    <label for="user_password">Password</label><br />
    <input class="form-control" autocomplete="off" ng-model="password" id="user_password" name="user[password]" type="password" />
  </div>

  <div>
    <input name="commit" type="submit" value="Login" class="btn btn-primary" />
    <a href="/#/users/sign_up" class="btn btn-success">Registration</a><br />
  </div>
</form>
