<form accept-charset="UTF-8" ng-submit="signUp()">
  <div class="form-group">
    <label for="user_email">Email</label><br />
    <input class="form-control" autofocus="autofocus" ng-model="email" id="user_email" name="user[email]" type="email" value="" />
  </div>

  <div class="form-group">
    <label for="user_password">Password</label><br />
    <input class="form-control" autocomplete="off" ng-model="password" id="user_password" name="user[password]" type="password" />
  </div>
 
  <div class="form-group">
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input class="form-control" autocomplete="off" ng-model="password_confirmation" id="user_password" name="user[password]" type="password" />
  </div>

  <div>
    <input name="commit" type="submit" value="Register" class="btn btn-primary" />
  </div>
</form>
