<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="task in tasks">
      <td>
        <div class="checkbox">
          <label ng-class="{done: task.done}"><input type="checkbox" ng-model="task.done" ng-click="toggleTask(task)">{{task.name}}</label>
        </div>
      </td>
      <td ng-class="{done: task.done}">
        {{task.priority}}
      </td>
      <td ng-class="{done: task.done}">
        {{task.deadline}}
      </td>
      <td>
        <a class="btn btn-primary" ui-sref="editTask({id:task.id})">Edit</a>
        <a class="btn btn-danger" ng-click="deleteTask(task)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
