.top-buffer{
  margin-top:10px;
}

.table tr td:nth-child(2){
  width: 210px;
}

.table tr:nth-child(1) td{
  border-top: none;
}

a.nodecoration{
  text-decoration:none;
}

.table tbody>tr>td{
  vertical-align: middle;
}

.done {
  text-decoration: line-through;
  color: #d9d9d9;
}
